input::-webkit-input-placeholder {
	color: grey !important;
}
input:-moz-placeholder { /* Firefox 18- */
	color: grey !important;  
}
input::-moz-placeholder {  /* Firefox 19+ */
	color: grey !important;  
}
input:-ms-input-placeholder {  
	color: grey !important;  
}
body{
}
.lr-button{
	position: fixed;
	right: 10px;
	top: 10px;
}
.lr-layer{
	margin-top: 40%;
}
#lr-layer{
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}
@keyframes dropHeader {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}